.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card_list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card { 
  box-shadow: 0px 0px 5px black;
  margin: 5px;
}

.card img {
  max-width: 100%;
}

.card .box {
  margin: 20px;
}
.card .box p {
  max-width: 50%;
}

.card_list a{
  text-decoration: none;
  color: black;
}
